'scopeName': 'source.kvn'
'name': 'Kirinnee Visual Novel'
'fileTypes': ['kvn']

'patterns': [

    {
        'match':'^(declare)\\s+[a-zA-Z0-9_,]+\\s+(as)\\s+(stage|character|sound|option)'
        'captures':
            '1':
                'name': 'control.keyword.kvn'
            '2':
                'name': 'control.keyword.kvn'
            '3':
                'name': 'gameobj.kvn'
    },
    {
        'match':'^(scene)\\s+([a-zA-Z0-9_]+)\\s+([a-zA-Z0-9_]+)'
        'captures':
            '1':
                'name': 'object.scene.kvn'
            '2':
                'name':'name.scene.kvn'
            '3':
                'name':'id.scene.kvn'
    },
    {
        'match':'[\\s|\\t]*(play)\\s+([a-zA-Z0-9_]+)\\s+([0-9]+)'
        'captures':
            '1':
                'name': 'control.keyword.kvn'
            '2':
                'name':'id.scene.kvn'
            '3':
                'name':'constant.numeric.kvn'
    },
    {
        'match':'frame'
        'name': 'object.frame.kvn'
    },
    {
        'match':'[\\s|\\t]*(mod)\\s+.+$'
        'captures':
            '1':
                'name':'control.keyword.kvn'
    },
    {
        'match': '[\\s|\\t]*(let)\\s+[a-zA-Z0-9_]+\\s+(be)\\s+[a-zA-Z0-9_]+\\s+(as)\\s+(string|object|boolean|array|number)'
        'captures':
            '1':
                'name': 'control.keyword.kvn'
            '2':
                'name': 'control.keyword.kvn'
            '3':
                'name': 'control.keyword.kvn'
            '4':
                'name': 'gameobj.kvn'
    },

    {
        'match':'^[\\s|\\t]+([a-zA-Z0-9_,\/]+)\\s+[a-zA-Z0-9]+'
        'captures':
            '1':
                'name': 'action.equal.kvn'
    },
    {
        'match': '^(create)\\s+(character|sound|stage|option)\\s+[^\\s]+'
        'captures':
            '1':
                'name':'control.keyword.kvn'
            '2':
                'name':'gameobj.kvn'
    }
    ,
    {
        'match' : '([^=\\s]+)\\s*(=)\\s*([^=]+)(\\s+|$)'
        'captures':
            '1':
                'name' : 'key.kvn'
            '2':
                'name' : 'action.equal.kvn'
            '3':
                'name' : 'value.kvn'
    }
    ,
    {
        'match' : '([^=]+)\\s*$'
        'name' : 'value.kvn'
    }




]
